<%- include('partials/docStart') %>

<body class="mb-0 pb-0 bg-nyanza">
  <div class="container">
    <header class="row pt-2 mb-4">
      <%- include('partials/amandaIalamov') %> <%- include('partials/navbar') %>
    </header>
    <main class="container-fluid px-0 mb-3">
      <!-- <div class="row mb-md-3">
        <div class="col-12 col-md-3">
          <div style="padding-top: 100%; position: relative">
            <iframe
              src="https://gifer.com/embed/1Kj6"
              width="100%"
              height="100%"
              style="position: absolute; top: 0; left: 0"
              frameBorder="0"
              allowFullScreen
            ></iframe>
          </div>
          <p><a href="https://gifer.com">via GIFER</a></p>
        </div>
        <div class="col-12 col-md-9">
          <p class="fs-5">
            Este site se encontra em construção, alguns elementos podem não
            estar funcionando ainda. O envio de mensagens na seção de
            <a href="#contato">contato</a>, entretanto, já se encontra em
            funcionamento.
          </p>
        </div>
      </div> -->
      <h1>Em destaque...</h1>
      <div class="musgo-bar d-block mb-4"></div>
      <% for (let i = 0; i < 1; i++) { %>
      <div class="row mb-4 bg-smoky-black w-100 m-0 p-0">
        <div class="col-12 col-lg-6 mb-3 mb-lg-0 p-0">
          <img
            class="ratio bg-dark text-light"
            src="/imgs/a_mulher_que_planta_cor.jpeg"
            alt="A mulher que planta cor"
            style="--bs-aspect-ratio: 124.36%"
          />
        </div>
        <div class="col-12 col-lg-6 bg-smoky-black text-light p-5">
          <h2 class="text-uppercase mb-5 text-light">
            A mulher que planta cor
          </h2>
          <!-- <div class="musgo-bar d-block mb-5"></div> -->
          <p class="fs-5 mb-5">
            O curta aborda a rotina da estilista e tingideira natural Thanina
            Godinho, dando visibilidade a sua marca. "A mulher que planta cor"
            invoca a moda autossustentável, a beleza do criar cores e tons,
            sentir o processo por inteiro e estar em contato com a natureza,
            sabendo utilizar os seus recursos de maneira equilibrada.
          </p>
          <div class="mb-3">
            <a
              href="https://youtu.be/4Ja8VegqQ7A"
              target="_blank"
              class="btn see-more see-more-white fs-3 py-2 px-3 d-block"
              >Ver teaser no YouTube</a
            >
          </div>
          <div>
            <a
              href="https://youtu.be/8efarqvz4eY"
              target="_blank"
              class="btn see-more see-more-white fs-3 py-2 px-3 d-block"
              >Ver no YouTube</a
            >
          </div>
        </div>
      </div>
      <% } %>
      <div class="d-flex justify-content-center">
        <a
          href="/projetos"
          class="btn see-more fs-3 py-2 px-3 w-100 text-center mb-5"
          >Ver todos os projetos</a
        >
      </div>
    </main>
  </div>
  <%- include('partials/footer') %>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"
  ></script>
</body>

<%- include('partials/docEnd') %>
